.sidenav-container {
    width: 100%;

    /*height: 93vh;*/
    height: 100%;
    overflow: auto !important;
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
}

.sidenav {
    padding: 20px;
    height:100%;
    width:20vw;
    overflow: hidden !important;
}
