.example-container {
    width: 100%;
    height: 95vh;
    overflow: hidden !important;
}
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
}
  
.example-sidenav {
    padding: 20px;
    height:100%; 
    width:20vw;
    overflow: hidden !important;
}