<div class="container center-container register-form" mat-dialog-content>

  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <mat-form-field #email class="w-100 form-font" appearance="outline" color="accent" style="border-color: white !important; border-width: 1px !important;">
        <mat-label class="text-light">Email address</mat-label>
        <input matInput class="text-light" formControlName="email">
        @if (passwordRecoveryForm.invalid) {
          <mat-error>{{emailErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>

    <div *ngIf="generalErrorMessage()">
      <mat-error>{{generalErrorMessage()}}</mat-error>
    </div>

    <div>
      <button mat-raised-button
              [disabled]="passwordRecoveryForm.get('email')?.value === ''" color="warn w-100"
              class="button-bg text-light">
        Recover your password
      </button>
    </div>

    <div *ngIf="successMessage()" class="mt-4 d-flex align-items-center gap-2">
      <span class="text-success fst-italic">{{ successMessage() }}</span>
    </div>

  </form>

  <hr class="border-light">

  <div class="text-center">
    <span class="text-light">Don't have an account? <a routerLink="/register">Create one!</a></span>
  </div>

</div>
