<div class="container center-container register-form" mat-dialog-content>

  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <mat-form-field #password class="w-100 form-font" appearance="outline" color="accent">
        <mat-label class="text-light">New password</mat-label>
        <input matInput class="text-light" formControlName="password">
        @if (passwordResetForm.invalid) {
          <mat-error>{{emailErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field #repeatedpassword class="w-100 form-font" appearance="outline" color="accent">
        <mat-label class="text-light">Repeat your new password</mat-label>
        <input matInput class="text-light" formControlName="repeatedpassword">
        @if (passwordResetForm.invalid) {
          <mat-error>{{emailErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>

    <div *ngIf="generalErrorMessage()">
      <mat-error>{{generalErrorMessage()}}</mat-error>
    </div>

    <div>
      <button mat-raised-button
              [disabled]="passwordResetForm.get('email')?.value === ''" color="warn w-100"
              class="button-bg text-light">
        Save password
      </button>
    </div>

    <div *ngIf="successMessage()" class="mt-4 d-flex align-items-center gap-2">
      <span class="text-success fst-italic">{{ successMessage() }}</span>
    </div>


    <div class="mt-4 text-light text-start">
      <a routerLink="/login">Back to login!</a>
    </div>

  </form>

</div>
