<div class="container center-container login-form" mat-dialog-content>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field class="w-100 form-font"
                      appearance="outline"
                      color="accent">

        <mat-label class="text-light">Username</mat-label>

        <input matInput class="text-light"
               formControlName="username">
        @if (loginForm.invalid) {
          <mat-error>{{passwordErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="w-100 form-font mat-form-field-appearance-outline" appearance="outline" color="accent">
        <mat-label class="text-light">Password</mat-label>
        <input matInput
               [type]="showPassword ? 'text' : 'password'"
               class="text-light"
               formControlName="password">

        @if (loginForm.invalid) {
          <mat-error>{{passwordErrorMessage()}}</mat-error>
        }

        <button type="button"
                mat-icon-button
                matSuffix
                (click)="showPassword = !showPassword"
                [attr.aria-label]="'Toggle password visibility'"
                [attr.aria-pressed]="showPassword">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

      </mat-form-field>
    </div>

    <div *ngIf="generalErrorMessage()">
      <mat-error>{{generalErrorMessage()}}</mat-error>
    </div>

    <div class="text-center">
      <button mat-raised-button
              [disabled]="loginForm.get('username')?.value === '' || loginForm.get('password')?.value === ''"
              color="warn w-100"
              style="background-color: #460017;">
        Login
      </button>
    </div>
  </form>

  <br>
  <div class="text-start">
    <span class="text-light"><a routerLink="/passwordrecovery">Forgot your password?</a></span>
  </div>

  <hr class="border-light">

  <div class="text-center">
    <span class="text-light">Don't have an account? <a routerLink="/register">Create one!</a></span>
  </div>

</div>
