<div class="container center-container login-form" mat-dialog-content >
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
    <div class="form-group">
      <mat-form-field class="w-100 form-font" appearance="outline" color="accent">
        <mat-label class="text-light">Username</mat-label>
        <input matInput class="text-light" formControlName="username">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100 form-font mat-form-field-appearance-outline" appearance="outline" color="accent" >
        <mat-label class="text-light">Password</mat-label>
        <input matInput [type]="'password'" class="text-light" formControlName="password">
        
      </mat-form-field>
    </div>
    <div align="end">
      <button mat-raised-button color="warn w-100" style="background-color: #460017;">Login</button>
    </div>
  </form>
  <div>
  <br>
  <span class="text-light"><a href="#">Forgot your password?</a></span>
  
  </div>
  <hr style="color: white;">
  <div align="center">
    <span class="text-light">Don't have an account? <a href="#">Create one!</a></span>

  </div>
</div>





