<div class="container center-container" style="display: flex; align-items: center; justify-content: center; height: 40vh;">
  <form>
    <div class="form-group">
      <mat-form-field class="w-100">
        <mat-label>Username</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-button>Login</button>
  </form>
</div>