::ng-deep .mdc-notched-outline__leading {
  border-color: rgba(255, 255, 255, 0.4) !important;
}
::ng-deep .mdc-notched-outline__notch {
  border-color: rgba(255, 255, 255, 0.4) !important;
}
::ng-deep .mdc-notched-outline__trailing {
  border-color: rgba(255, 255, 255, 0.4) !important;
}

::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
  border-color: rgba(255, 105, 180, 0.4) !important;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: red !important;
}
