<mat-card>
    <mat-card-content>
        <h4>Filtering</h4>
        <hr>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()"> 
            <label>
              Minimum price:
              <input type="number" formControlName="minPrice">
            </label>
            <br>
            <label>
              Maximum price:
              <input type="number" formControlName="maxPrice">
            </label>
            <br>
            <button type="submit">Submit</button>
          </form>
    </mat-card-content>
</mat-card>

