.logo {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 30px;
}

.title {
    max-height: 45%;
    max-width: 45%;
}

@media (max-width: 576px) {
    .title {
      display: none;
    }
}

.app-logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
