.center-container {
  max-width: 40vw;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.form-font{
  font-size: min(2vh, 2vw);
}

.form-label-font{
  font-size: min(2vh, 2vw);
}

.register-form {
  max-width: 500px;
}
